@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Heebo:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Heebo:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+Rounded+1c&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    margin: 0%;
    background-color: #f5f5f5;
}

.anuncios {
    display: flex;
    justify-content: center;
    background-color: black;
}

.anuncios h5{
    color: white;
    margin: 10px;
}

.anuncios a{
    text-decoration: none;
    
}

.LogoWhitSearch {
    display: flex;
    justify-content: space-around;
    background: #76b852;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.LogoWhitSearch a{
    text-decoration: none;
    color: white;
}

.LogoWhitSearch .Logo{
    margin: 10px 0px 10px 0px;
}

.LogoWhitSearch .search{
    margin: 10px 0px 10px 0px;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    margin: 0%;
}

.menu li{
    margin: 10px 0px 10px 0px;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: white;
}

.contenedor{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.item{
    background-color: #fcffe4;
    display: flex;
    width: 300px;
    height: 425px;
    margin: 2%;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.item img{
    display: block;
    margin: 10px auto 20px auto;   
    width: 90%;
    height: 40%;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.textproducto{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    text-align: center;
}

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.icono-carrito{
    display: flex;
    position: relative;
    margin: 10px;
}

.icono-carrito img{
    width: 60px;
    height: 60px;
    top: 0;
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
}

.icono-carrito span{
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: red;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius:50%;
    position: absolute;
    top : 55%;
    right: 0;
}

.cartatab h1{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: xx-large;
    color: white;
    text-align: start;
    justify-content: space-between;
    background-color: #3d8613ef;
    margin: 0;
    padding: 10px 15px;
}


.cartatab{
    font-family: "M PLUS Rounded 1c", sans-serif;
    width: 500px;
    height: 100%;
    font-size: large;
    color: white;
    text-align: center;
    background-color: #3d8613ef;   
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 0px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.hidden{
    display: none;
} 

.cartatab .butn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid white;
    gap: 10px; /* Añadir un espacio entre los botones */
    justify-items: center; /* Centramos los elementos dentro de las celdas */
    align-items: center; /* Centramos verticalmente */
}

.cartatab .butn button, 
.cartatab .butn a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: larger;
    color: white;
    background-color: #367512;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
    padding: 10px 20px; 
    border-radius: 5px; 
}

.cartatab .butn button:hover,
.cartatab .butn a:hover {
    background-color: #285610; 
}

.cartatab .listacarrito .item-carrito img{
    width: 60px;
    height: 60px;
    border-radius: 150%;
    padding: 5px;
}

.cartatab .listacarrito .item-carrito{
    color: black;
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}


.listacarrito .cantidad span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: white;
    color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.listacarrito .cantidad span:nth-child(2){
    background: transparent;
    color: white;   
}

.listacarrito .item-carrito:nth-child(even){
    background-color: #367512;
}

.listacarrito{
    overflow: auto;
}
.listacarrito::-webkit-scrollbar{
    width: 0;
}

/* delivery */

.Cube {
    border: 2px solid #000000; 
    display: flex;
    width: 900px;
    margin: 25px auto auto auto;
    background-color: #fff;
}

.imganddelivery{
    display: flex;
    flex-direction: column;
    border: 2px solid #000000; 
}

.imganddelivery img{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: auto;
}

.enviorapido {
    border: 2px solid #056152; 
    background-color: #ebfaf7;
    padding: 5px;           
    display: inline-block;      
    color: #056152;
    border-radius: 10px;
    margin: 50px;
}


.enviorapido li {
    font-weight: 300;
}

.informacion{
    margin: 10px 10px 10px 10px;
}

.informacion .titulo{
    font-size: 22px;
}
.informacion .sub{
    color: #056152;
    background-color: #ebfaf7;
    margin: 1px 0px 1px 0px;
    font-weight: 600;
    font-size: 12px;
    width: 80px;

}
.informacion .valores{
    color: #4b654f;
}

.informacion .codigo{
    color: #737373;
    font-size: 10px;
}

.botones {
    display: flex;
    flex-direction: column;
}

.botones .botonagregar{
    background-color: #dde7ba;
    color: rgb(0, 0, 0); 
    padding: 15px 32px; 
    font-size: 16px; 
    border: 1px solid black;
    border-radius: 8px; 
    font-weight: 600;
    margin: 10px 0 1px 0;
}

.botones .botoncomprar{
    background-color: #bfd47d;
    color: rgb(0, 0, 0); 
    padding: 15px 32px; 
    font-size: 16px; 
    border: 1px solid black;
    border-radius: 8px; 
    font-weight: 600;
    margin: 10px 0 1px 0;
    text-decoration: none; 
    text-align: center;
}

.informacion .stock{
    font-weight: 400;
    font-size: 15px;
}

.informacion .descripciones{
    font-size: 23px;
}

.informacion .subdescripciones{
    font-size: 15px;
    color: #737373;
}

/* form */

.input_container p{
    margin: 0px 0px 10px 0px;
    font-size: 20px;
}

.input_container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.input-row {
    margin-bottom: 15px;
}

.input-row input, .input-row textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-row input:focus, .input-row textarea:focus {
    border-color: #007bff;
}

.input-row textarea {
    height: 100px;
    resize: vertical;
}

.text-center {
    text-align: center;
}

.text-center input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.text-center input[type="submit"]:hover {
    background-color: #0056b3;
}

.check a{
    text-decoration: none; 
    text-align: center;
}